body {
  text-align: center;
}

.navbar {
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  border: 0.5px solid black;
  align-content: center;
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  display: inline-block;
  padding: 0 1vw;
}

a {
  text-decoration: none;
  color: black;
}

.border-right {
  border-right: 1px solid;
}

#book-list {
  list-style-type: none;
  margin: 10px auto;
  padding: 0;
  border: 0.5px solid;
  width: 80%;
  max-width: 500px;
}

#book-list li:nth-child(odd) {
  background: #f3f3f3;
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}

.list-txt {
  display: flex;
}

.list-txt p {
  margin: 7px;
}

#form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  max-width: 230px;
}

#title {
  width: 100%;
  margin: 1% 0;
  padding: 2% 0;
}

#author {
  width: 100%;
  padding: 2% 0;
}

.btn-add {
  align-self: flex-end;
}

.contact ul {
  margin: auto;
  width: 80%;
  max-width: 320px;
  text-align: left;
}

.none {
  display: none;
}

.date {
  display: flex;
  justify-content: flex-end;
  padding: 1% 10%;
}

footer {
    display: flex;
    border: 0.5px solid;
    padding: 1% 10%;
    position: fixed;
    width: 100%;
    bottom: 1%;
}